@import '../../../assets/styles/settings/index';

.s-tooltip {
	&__content {
		transform: translate3d(0, 100%, 0);
		font-family: $ff-title;
		@include responsive-text(0.9);
		color: $c-text-dark;
		@include padding($sp-base * 0.25);
		background-color: $c-light;
		border-radius: 2px;
		position: relative;
		z-index: 1;
		text-transform: capitalize;
		&:after {
			content: '';
			display: block;
			@include size(0);
			border-bottom: $tooltip-pointer-size * 1.6 solid $c-light;
			border-left: $tooltip-pointer-size * 0.8 solid transparent;
			border-right: $tooltip-pointer-size * 0.8 solid transparent;
			@include position(absolute, 0 null null 50%);
			transform: translate3d(-50%, -100%, 0);
		}
	}
	&__item {
		display: inline-block;
		&:last-of-type {
			.s-tooltip__separator {
				display: none;
			}
		}
	}
}
