@import '../../assets/styles/settings/index';
.link {
	font-family: $ff-title;
}

.list {
	background-color: lightgreen;
}

.nav {
	display: inline-block;
}

.group {
	border: 2px solid crimson;
}

.title {
	font-family: $ff-title;
	font-weight: $fw-semi;
	color: purple;
}

.wrapper {
	border: 2px solid teal;
}
