// $sp = spacing
$sp-base: 25px;
$sp-base-vw: 1.25vw;
$sp-chip: $sp-base * 0.125;
$sp-chip-vw: 0.2vw;

// $tr = transition

$lighten-color: 20%;

$tr-duration: 300ms;

// https://www.bourbon.io/docs/4/ - search for Timing Functions
$tr-type: $ease-in-out-sine;
$tr-type-harsher: $ease-in-out-quart;
$tr-type-clock: $ease-out-back;

// $h = height
$h-header: 120px;
$h-header-vh: 13vh;
$h-screen: 1080px;
$h-post-collapsed: 11vh;
$h-preset: 42px;
$h-switcher: 24px;
$h-chips-min: 37px;

// $br = border-radius
$br-preset: 6px;

// $w = width
$w-screen: 1920px;
$w-preset: 1000px;
$w-preset-vw: 59vw;

$w-switcher: 42px;

// $sz = size (width, height)
$sz-post-arrow: 8px;
$sz-post-arrow-vw: 0.5vw; // under 1500px
$sz-post-icon: 20px;
$sz-post-icon-vw: 1.4vw;
$sz-radial-progress: 55px;
$sz-radial-progress-vw: 3.4vw;
$sz-input-circle: 18px;

// $ff = font-family
$ff-base: Arial, sans-serif;
$ff-title: Oswald, $ff-base;
$ff-content: Raleway, $ff-base;

// $fs = font-size
$fs-text: 14px;
$fs-text-vw: 0.9vw;
$fs-title: 30px;
$fs-title-vw: 1.5vw;

// $fw = font-weight
$fw-bold: 700;
$fw-semi: 600;
$fw-regular: 400;
$fw-light: 300;

// $c = color
$c-yellow: #e4da32;
$c-green: #56c15d;
$c-turquoise: #0e906a;
$c-blue-dim: #89a4b6;
$c-blue-dark: #1a242b;
$c-grey-lightest: #767676;
$c-grey-lighter: #5f6c75;
$c-grey: #31363c;
$c-grey-darker: #272d33;
$c-grey-darkest: #131d26;
$c-grey-other: #3e4145;
$c-black-light: #1e2127;
$c-black: #000000;
$c-light: #ffffff;
$c-pink: #912d57;
$c-pink-strong: #c13584;

$c-border: lighten($c-grey-lighter, 5%);
$c-border-preset: lighten($c-blue-dark, 5%);
$c-socialbakers: $c-pink;
$c-instagram: $c-pink-strong;

$c-text-light: $c-light;
$c-text-dark: $c-black;
$c-text-grey: $c-grey-lightest;

$c-organic: $c-green;
$c-paid: $c-yellow;
$c-unknown: $c-grey-lightest;
$c-other: $c-grey-other;

// section colors
$c-bckg: $c-grey-darkest;
$c-bckg-preset: $c-blue-dark;
$c-bckg-chart-top: #191d21;
$c-bckg-charts-bottom: $c-grey-darker;
$c-post-even: transparentize($c-grey-darker, 0.5);
$c-post-blender: linear-gradient(
	to bottom,
	rgba($c-grey-darkest, 0) 0%,
	rgba($c-grey-darkest, 1) 100%
);
$c-post-odd: transparentize($c-blue-dim, 0.9);
$c-screen-brand: $c-instagram;
$c-bckg-widget: rgba($c-grey-lighter, 0.5);

// opacity
$op-disabled: 0.5;

// $ts = text-shadow
$ts: 1px -1px 0px rgba(0, 0, 0, $op-disabled);

// this is for line chart
$range--36: 1 7 13 16 17 18;
$range--72: 1 7 13 19 25 31 33 35;

$tooltip-pointer-size: 7px;
$tooltip-width: 100px;

$post-icons: (
	paid: $c-paid,
	organic: $c-organic,
	unknown: $c-unknown,
	video: $c-blue-dim,
	photo: $c-blue-dim,
	carousel: $c-blue-dim
);

// $mc = media queries
$mc-desktop-big: 1800px;
$mc-desktop-medium: 1500px;
$mc-desktop-small: 1200px;
$mc-min-height-big: 900px;

$mc-min-height-medium: 800px;
