@include font-face(
	'Oswald',
	'../../assets/fonts/Oswald/Oswald-Light',
	('ttf')
) {
	font-style: normal;
	font-weight: 300;
}

@include font-face('Oswald', '../../assets/fonts/Oswald/Oswald-Bold', ('ttf')) {
	font-style: normal;
	font-weight: 700;
}

@include font-face(
	'Raleway',
	'../../assets/fonts/Raleway/Raleway-Regular',
	('ttf')
) {
	font-style: normal;
	font-weight: 400;
}

@include font-face(
	'Raleway',
	'../../assets/fonts/Raleway/Raleway-LightItalic',
	('ttf')
) {
	font-style: italic;
	font-weight: 300;
}

@include font-face(
	'Raleway',
	'../../assets/fonts/Raleway/Raleway-SemiBold',
	('ttf')
) {
	font-style: normal;
	font-weight: 600;
}
